@using CommonLibrary.Resource

@{
    ViewData["Title"] = Resources.Error_Title;
}

<h1 class="text-danger">@Resources.Error_MainTest</h1>
<h2 class="text-danger">@Resources.Error_Message</h2>

<h3>@Resources.Error_DevMode</h3>
<p>
    @Resources.Error_DevSwapping
</p>
<p>
    @Resources.Error_ProdSwapping
</p>
